Checks: >
  *,
  -altera-*,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-narrowing-conversions,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-interfaces-global-init,
  -cppcoreguidelines-narrowing-conversions,
  -google-readability-braces-around-statements,
  -hicpp-braces-around-statements,
  -llvm-header-guard,
  -llvmlibc-*,
  -portability-avoid-pragma-once,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-inconsistent-declaration-parameter-name,
  -readability-magic-numbers
